name: Sync submodule pointer in DDC-Canon

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  update-canon:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout WUC-Canon repo
        uses: actions/checkout@v3
        with:
          repository: NeonSyzygy/WUC-Canon
          token: ${{ secrets.WUC_VAULT_ACTIONS }}
          ref: main
          path: canon

      - name: Update submodule pointer
        run: |
          cd canon
          git config user.name "WUC_VAULT_ACTIONS"
          git config user.email "bot@NeonSyzygy.company"
          git config --global url."https://x-access-token:${{ secrets.WUC_VAULT_ACTIONS }}@github.com/".insteadOf "https://github.com/"
          
          git submodule update --init --recursive
          cd source/content-submodule
          git checkout main
          git pull origin main
          cd ../..
          git add source/content-submodule
          git commit -m "Update submodule to latest commit on main"
          git push origin main